body{
    background-color: rgba(255, 255, 255, 1);
}


.heading{
    font-family: Qwigley;
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: left;    
    color: rgba(255, 179, 14, 1);
}
.deliver{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color:rgba(66, 66, 66, 1);
}

.location{
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
color: rgba(66, 66, 66, 1);
}

.ashoknagar{
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
color: rgba(66, 66, 66, 1);
}

.search-food{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(66, 66, 66, 1);
}

.d-flex{
align-items: baseline;

}
.navbar{
    padding: 0%;
}

#yellow-container{
position: absolute;
width: 100%;
height: 400px;
left: 1px;
top: 101px;
background-color: #FDBE35;
}

.fav-meals{
    font-family: Qwigley;
    font-size: 88px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 130px;
    margin-left: 20px;
}

.sub-heading{
font-family: Source Sans Pro;
font-size: 22px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(80, 79, 79, 1);
margin-top: 20px;
margin-left: 20px;
margin-bottom: 50px;
}

.sub-heading-box1{
width:856px;
height:86px;
top: 400px;
left: 180px;
padding: 18px;
gap: 8px;
background-color: rgba(255, 255, 255, 1);
margin-left: 20px;
}
.delivery{
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(241, 114, 40, 1);
}
.pickup{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: rgba(117, 117, 117, 1);
}

.enter-search{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(158, 158, 158, 1);
}
.find-food{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.menu-food{
font-family: Source Sans Pro;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(66, 66, 66, 1);
margin-top: 30px;
}

.minsdelivery{
font-family: Source Sans Pro;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(241, 114, 40, 1);
}

.howdoes{
font-family: Source Sans Pro;
font-size: 43px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: rgba(241, 114, 40, 1);
margin-top: 100px;
margin-bottom: 50px;
}

.howdoes-box{
    width: 1100px;
    height: 200px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 27px 11px rgba(255, 181, 21, 0.1);
    align-items: center;

}

.daily-discount{
font-family: Source Sans Pro;
font-size: 35px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
color:rgba(251, 60, 0, 1);
}

.dosa{
font-family: Source Sans Pro;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
color: rgba(66, 66, 66, 1);
}

.best-deals{
font-family: Source Sans Pro;
font-size: 43px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 179, 14, 1);
}
.enjoy{
font-family: Open Sans;
font-size: 18px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: rgba(97, 97, 97, 0.69);
}
.search-by-food{
font-family: Source Sans Pro;
font-size: 43px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(33, 33, 33, 1);
margin-bottom: 35px;
}

.popular-items{
font-family: Source Sans Pro;
font-size: 43px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: rgba(33, 33, 33, 1);
margin-top: 100px;
margin-bottom: 80px;
}

.sub-food{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: rgba(66, 66, 66, 1);
margin-top: 30px;
}

.order-now{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);

}


.proceed{
    font-family: Source Sans Pro;
font-size: 18px;
font-weight: 900;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}


footer{
    background-color: rgba(9, 13, 18, 1);
}


.follow{
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(245, 245, 245, 1);
    margin-top: 50px;
    margin-bottom: 40px;
}

.receive{
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: rgba(187, 187, 187, 1);
margin-bottom: 40px;
margin-top: 40px;
}


.enter-email{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
color: rgba(173, 173, 173, 1);
background-color: rgba(66, 66, 66, 1);
}

.subscribe{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.footer-menu{
font-family: Source Sans Pro;
font-size: 22px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
margin-top: 50px;
margin-bottom: 50px;
}
.footer-list{
font-family: Source Sans Pro;
font-size: 18px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: rgba(245, 245, 245, 1);
margin-bottom: 16px;
}

/* .box-part{
    background-color: white;
    margin-top:60px;
    padding: 30px 10px;
}
.fa{
    color: rgb(98, 98, 255);
}
a{
    border-bottom: 2px solid rgb(54, 134, 255);
}
p{
    margin-top: 30px;
}
.box{
    padding: 60px 0px;
} */



/* pngegg 1 */

/* position: absolute;
width: 524px;
height: 424px;
left: 1220px;
top: 225px;

background: url(pngegg.png);
filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25)); */
